VITE_BUILDER=https://builder.ownables.info
VITE_BUILDER_SERVER_WALLETS_ENDPOINT=/api/v1/ServerWalletAddresses
VITE_BUILDER_NETWORK_PARAM=networkId
VITE_BRIDGE=
VITE_RELAY=https://relay.ownables.info
VITE_WALLETCONNECT_PROJECT_ID=0cd0fe54f94a0fcc7e47344901dd49bf
VITE_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
VITE_BASE_MAINNET_RPC_URL=https://mainnet.base.org
VITE_BASE_SEPOLIA_EXPLORER_URL=https://sepolia.basescan.org
VITE_BASE_MAINNET_EXPLORER_URL=https://basescan.org
